<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9988913220681228"  />
  </configSections>

  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9988913220681228" />
    </backingStores>

    <cacheManagers>
      <add name="Default Cache Manager"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9988913220681228"
				expirationPollFrequencyInSeconds="600"
				maximumElementsInCacheBeforeScavenging="100"
				numberToRemoveWhenScavenging="10"
				backingStoreName="inMemory" />
      <add name="Loading MyRoyalties Cache Manager"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9988913220681228"
				expirationPollFrequencyInSeconds="100"
				maximumElementsInCacheBeforeScavenging="1000"
				numberToRemoveWhenScavenging="10"
				backingStoreName="inMemory" />

      <add name="MyRoyalties ErrorCode Cache Manager"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9988913220681228"
        expirationPollFrequencyInSeconds="100"
        maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10"
        backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>



  <appSettings>
    <add key="test" value="remove this key... its just for testing..."/>  
    <add key="StatementFilePath" value="D:\apps\myroyalties\UploadedFiles\" />
    <add key="BackupStatementFilePath" value="D:\apps\myroyalties\ProcessedFiles\" />
    <add key="DataFlushSize" value="15" />
    <add key="dbInstance" value="MYRYL_QA" />
    <add key="FileFields_old" value="Product,FiscalStartMonth,Cycle,DistributionDays,PayPeriodBegin,PayPeriodEnd,DataPeriodBegin,DataPeriodEnd,EstPaymentDate,SAPVendorNum,SAPVendorName,ContractNumber,ContentNumber,ContractDescription,ContentDescription,ContentMediaDescription,VariableAmount,MathOperator,CalcVariable,UsageCount,AllocUsageRevenue,ContentRoyalty,VendorDistributionPct,RoyaltyPerVendor,EstimateReversal,Estimate,MiscAdjustment1,Comments1,MiscAdjustment2,Comments2,PaymentType,PaymentMethodDesc,EditorialID,InternalComments,Currency,CompanyCode"/>
<add key="FileFieldsRIAPPC" value="Product,FiscalStartMonth,Cycle,DistributionDays,PayPeriodBegin,PayPeriodEnd,DataPeriodBegin,DataPeriodEnd,EstPaymentDate,SAPVendorNum,SAPVendorName,ContractNumber,ContentNumber,ProductCode,ContractDescription,ContentDescription,ContentMediaDescription,ProductCodeBundle,TotalCash,BundleBreakoutPercentage,VariableAmount,MathOperator,CalcVariable,UsageCount,AllocUsageRevenue,ContentRoyalty,VendorDistributionPct,RoyaltyPerVendor,EstimateReversal,Estimate,MiscAdjustment1,Comments1,MiscAdjustment2,Comments2,PaymentType,PaymentMethodDesc,EditorialID,InternalComments,Currency,CompanyCode" />
    
<add key="FileFields" value="Product,FiscalStartMonth,Cycle,DistributionDays,PayPeriodBegin,PayPeriodEnd,DataPeriodBegin,DataPeriodEnd,EstPaymentDate,SAPVendorNum,SAPVendorName,ContractNumber,ContentNumber,ProductCode,ContractDescription,ContentDescription,ContentMediaDescription,ProductType,ProductCodeBundle,TotalCash,BundleBreakoutPercentage,VariableAmount,MathOperator,CalcVariable,UsageCount,AllocUsageRevenue,ContentRoyalty,VendorDistributionPct,RoyaltyPerVendor,EstimateReversal,Estimate,MiscAdjustment1,Comments1,MiscAdjustment2,Comments2,PaymentType,PaymentMethodDesc,InternalComments,Currency,CompanyCode,Name_1,Name_2,Street_2,Street_3,Street_House_number,City,Postal_Code,Country,VATNumber,SBA_date,VAT_adj,VAT_comment" />

<add key="FileFieldsAlliant" value="Product,FiscalStartMonth,Cycle,DistributionDays,PayPeriodBegin,PayPeriodEnd,DataPeriodBegin,DataPeriodEnd,EstPaymentDate,SAPVendorNum,SAPVendorName,ContractNumber,ContentNumber,ProductCode,ContractDescription,ContentDescription,ContentMediaDescription,ProductType,ProductCodeBundle,TotalCash,BundleBreakoutPercentage,VariableAmount,MathOperator,CalcVariable,UsageCount,AllocUsageRevenue,ContentRoyalty,VendorDistributionPct,RoyaltyPerVendor,EstimateReversal,Estimate,MiscAdjustment1,Comments1,MiscAdjustment2,Comments2,PaymentType,PaymentMethodDesc,InternalComments,Currency,CompanyCode,StatementID,Name_1,Name_2,Street_2,Street_3,Street_House_number,City,Postal_Code,Country,VATNumber,SBA_date,VAT_adj,VAT_comment" />

<add key="CacheRefreshTimeInSeconds" value="60000"/>
    <add key="LogFileLocation" value="D:\Project\TFS\MyRoyalty\Main\ReferencedBin\"/>
    <add key="ConfigurationStoreLocation" value="D:\apps\MyRoyalties\Config\MrylConfiguration.xml"/>
    <add key="ConfigurationStore" value="xml"/>
    <add key ="UserID" value ="0112505"/>
    <add key="AdminEmailGroup" value="Thomson.myroyalty-business-admin@Thomsonreuters.com" />
    <add key="TechEmailGroup" value="Thomson.myroyalty-tech-dev@Thomsonreuters.com"/>
    <add key="Environment" value ="eg-myrappqa-a01(QA)"/>
  </appSettings>
  
  <connectionStrings configSource="connections.config"/>
  
</configuration>